body {
    background-color: rgb(191, 184, 175); 
    /* pantone warm gray 3c */
    font-family: 'Exo 2', sans-serif;
}

input {
    font-family: 'Exo 2', sans-serif;
}

select {
    font-family: 'Exo 2', sans-serif;
}

button {
    font-family: 'Exo 2', sans-serif;
}

h2 {
    text-align: center;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    border: solid black 1px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 10px;
    border: solid black 1px;
    height: 10%;
    width: 100%;
    background-color: rgb(171, 152, 157);
    /* pantone 436 C */
}

article {
    width: 100%;
    background-color: rgb(215, 210, 203);
    /* pantone warm gray 1c */
    position: fixed;
    top: 12%;
}

div {
    display: flex;
    flex-wrap: wrap;
}

section {
    border: solid black 1px;
    border-radius: 15px;
    margin: 1%;
    background-color: rgb(215, 210, 195);
}

aside {
    border: solid black 1px;
}


/* #quiz {
    position: relative;
    left: 10px;
    width: 60%;
    height: 20%;
    margin: 10px;
} */

#header_logo {
    height: 100%;
    padding: 5px;
}

#quiz_section {
    display: none;
}

.hidden_until_trigger {
    visibility: hidden;
}

/* #Selector {
    flex: 1;
}
#question_or_quiz {

    flex: 1;
} */

div section {
    flex: 1;
}

.hidden_until_trigger2 {
    visibility: hidden;
}

#questions_and_answers {
    padding: 2%;
}